body{
    background-image: url('../banner/b3.jpeg');
    
    background-attachment: fixed;
}
#wrapper{
    width: 800px;
    height: 1000px;
    background-color: aqua;
    border: 1px double black;
    margin: 0 auto;
}
    #fixed{
    width: 100%; 
    height: 50px;
    background-color:blue;
    position: fixed;
    top :0;left: 0;
    }
    #header{
        width: 100%;
        height: 15%;
        background-color: red;
        float: left;
    }
        #logo{
            width: 20%;
            height: 100%;
            background-color: orange;
            float: left;
        }
        #banner{
            width: 80%;
            height: 100%;
            background-color: green;
            float: left;
        }
    #menu{
        width: 100%;
        height: 5%;
        background-color: blue;
        float: left;
    }
        .sub_menu{
        width: 19.7%;
        height: 70%;
        background-color: blueviolet;
        float: left;
        margin-right: 2px;
        text-align: center;
        padding-top: 15px;
        color: #fff;
        font-family: verdana;
        font-weight: bold;
        font-size: 15px;
        }
        .sub_menu:hover{
            background-color: red;
            padding-bottom: 30px;
        }
    #content{
        width: 100%;
        height: 70%;
        background-color: gray;
        float: left;
    }
    #left{
        height: 100%;
        width:20%;
        float: left;
        background-color: orange;
    }
       #left ul{
             list-style-type: none;
            padding-left: 0px;
        }
          #left li{
                margin-bottom: 2px;
                background-color: pink;
                padding: 5px;
            }
           #left li:hover{
               background-color: #fff;
               padding-left: 15px;
               color: red;
            }
    #right{
        height: 100%;
        width:80%;
        float: left;
        background-color: white;
    }
    #footer{
        width: 100%;
        height: 10%;
        background-color: green;
        float: left;
    }
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }